

/*==============================================
 *
 * CSS Stylesheet for general barchart
 *
 * 04/09/2018	mjc	Created
 *===============================================*/

/*Watch out for the spaces below (space = descendant relationship, no-space = AND) */
/* note '.' denotes class, '#' denotes ID */
.barchart .bars.enterSelection  { /* Select decendants of class 'barchart' elements where the descendants  are both of class  'bars'  AND  class 'enterSelection' */
	fill: pink;
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.barchart .bars.updateSelection {
	fill: blue;
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.barchart .bars.exitSelection {
	fill: gray;
	stroke: gray;
	stroke-width: 1;
	opacity: 0.5;
}

.barchart .bars.highlight {
	fill: magenta;
	stroke: black;
	stroke-width: 2;
	opacity: 1.0;
}

.barchart .dot.title {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/*		.barchart .bars:hover{
	stroke: black;
	stroke-width: 2;
	opacity: 1.0;
}
*/
